body {
    margin: 3em 1.5em;
}

.headshot {
    display: block;
    width: 18em;
    height: auto;
    margin: 0 auto;
    border-radius: 50%;
}

hr {
    height: 1px;
    border: 0;
    border-top: 5px solid #2196F3;
    margin: 3em auto;
    padding: 0;
    width: 7em;
}


@media only screen and (max-width: 600px) {
    body {
        margin: 1.5em 1.5em;
    }

    .headshot {
        width: 15em;
    }

    hr {
        margin: 2em auto;
    }
} 