hr {
    height: 1px;
    border: 0;
    border-top: 5px solid #2196F3;
    margin-top: 1em;
    padding: 0;
    width: 20%;
}

.project-divider {
    margin: 0.5em auto 0;
}

.container {
    color: #373737;
    margin: 0 auto;
    max-width: 40em;
}

.project-wrapper {
    text-align: center;
}

.project-wrapper:hover + .project-divider {
    border-top: 2px solid #F44336;
}

.project-container {
    text-align: left;
}

.job-title {
    font-size: 1.5em;
    font-weight: 600;
}

.job-company {
    font-size: 1.5em;
}

.project-container img {
    width: 7em;
    height: auto;
}

.collapsible {
    margin-top: 0.5em;
    cursor: pointer;
    user-select: none;
}

.collapsible-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    text-align: left;
}

.collapsible-content p {
    margin-bottom: 1em;
    line-height: 1.5em;
}