.article {
    color: #373737;
    margin: 0 auto;
    max-width: 35em;
    line-height: 1.7em;
}

.article h2 {
    margin-top: 1.5em;
}

.article p {
    font-size: 1.1em;
    margin-top: 1.5em;
}

.article a:link,
.article a:visited {
    text-decoration: none;
    color: #F44336;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.2s;
}

.article a:hover,
.article a:active {
    border-bottom: 1px solid #F44336;
}