body {
    margin: 3em 1.5em;
}

.article {
    color: #373737;
    margin: 0 auto;
    max-width: 35em;
    line-height: 1.7em;
}

.date {
    font-weight: 600;
    font-size: 1.1em;
    color: #bbb;
}

.article h2 {
    margin-top: 1.5em;
}

.article p {
    font-size: 1.1em;
    margin-top: 1.5em;
}

.article img {
    display: block;
    margin: 1.5em auto 0;
}

.article figcaption {
    margin-top: 1em;
    text-align: center;
    font-style: italic;
}

.article a:link,
.article a:visited {
    text-decoration: none;
    color: #F44336;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.2s;
}

.article a:hover,
.article a:active {
    border-bottom: 1px solid #F44336;
}

.article a img {
    border-radius: 1em;
    border: 2px solid transparent;
    transition: border 0.2s;
}

.article a img:hover {
    border: 2px solid #F44336;
}

@media only screen and (max-width: 600px) {
    body {
        margin: 1.5em 1.5em;
    }
}