body {
    margin: 3em 1.5em;
}

hr {
    height: 1px;
    border: 0;
    border-top: 5px solid #2196F3;
    margin: 1em 0;
    padding: 0;
    width: 20%;
}

.container {
    color: #373737;
    margin: 0 auto;
    max-width: 40em;
}

.project-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    margin-top: 2em;
}

.project-tags {
    margin-top: 0.5em;
    list-style: none;
}

.project-tags li {
    display: inline-block;
    margin-top: 0.2em;
    margin-right: 2%;
    color: #fff;
    background-color: #2196F3;
    padding: 3px 11px;
    border-radius: 1em;
}

.project-divider {
    height: 1px;
    border: 0;
    border-top: 2px solid #373737;
    margin: 2em auto 0;
    padding: 0;
    width: 50%;
    transition: border-top 0.2s;
}

.project-container:hover + .project-divider {
    border-top: 2px solid #F44336;
}

@media only screen and (max-width: 600px) {
    body {
        margin: 1.5em 1.5em;
    }
}