html, body {
    height: 100%;
    font-size: 1.1vw;
}

.container-center {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.content {
    margin-bottom: 5%;
}

.content hr {
    height: 1px;
    border: 0;
    border-top: 5px solid #2196F3;
    margin: 0 auto 1em;
    padding: 0;
    width: 20%;
}

.name {
    color: #222;
    font-weight: 600;
    font-size: 9em;
}

.nav {
    list-style: none;
}

.nav li {
    margin: 0 3%;
    display: inline;
}

.nav li a:link,
.nav li a:visited {
    font-size: 2em;
    text-decoration: none;
    color: #AAAAAA;
    transition: color 0.2s;
}

.nav li a:hover,
.nav li a:active {
    color: #636363;
}

@media only screen and (max-width: 768px) {
    html, body {
        font-size: 1.5vw;
    }

    .nav li a:link,
    .nav li a:visited {
        font-size: 2.5em;
    }
} 

@media only screen and (max-width: 600px) {
    html, body {
        font-size: 1.5vw;
    }

    .content hr {
        margin: 20% auto;
    }

    .nav li {
        display: block;
        margin: 10% 0;
    }

    .nav li a:link,
    .nav li a:visited {
        font-size: 5em;
    }
} 