body {
    margin: 3em 1.5em;
}

hr {
    height: 1px;
    border: 0;
    border-top: 5px solid #2196F3;
    margin-top: 1em;
    padding: 0;
    width: 20%;
}

.container {
    color: #373737;
    margin: 0 auto;
    max-width: 40em;
}

.project-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 18em;
    margin-top: 2em;
}

.project-content {
    display: flex;
    flex-direction: column;
    margin-right: 1em;
    width: 60%;
}

.project-container img {
    height: 100%;
    width: auto;   
}

.project-tags {
    margin-top: 0.5em;
    list-style: none;
}

.project-tags li {
    display: inline-block;
    margin-top: 0.2em;
    margin-right: 2%;
    color: #fff;
    background-color: #2196F3;
    padding: 3px 11px;
    border-radius: 1em;
}

.project-content p {
    margin-top: 1.5em;
    max-width: 25em;
}

.project-content a:link,
.project-content a:visited {
    background-color: #373737;
    border: none;
    border-radius: 0.7em;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    margin: 3em auto 0;
    transition: background-color 0.2s;
}

.project-content a:hover,
.project-content a:active {
    background-color: #111;
}

.project-divider {
    height: 1px;
    border: 0;
    border-top: 2px solid #373737;
    margin: 2em auto 0;
    padding: 0;
    width: 50%;
    transition: border-top 0.2s;
}

.project-container:hover + .project-divider {
    border-top: 2px solid #F44336;
}

.disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

@media only screen and (max-width: 600px) {
    body {
        margin: 1.5em 1.5em;
    }
    
    .project-container .phone-screen {
        width: 23%;
        height: auto;
    }

    .project-container .laptop-screen {
        width: 40%;
        height: auto;
    }

    .project-content a {
        margin: 1em auto;
    }
} 