.project-content {
    display: flex;
    flex-direction: column;
    margin-right: 1em;
    width: 60%;
}

.project-container .phone-screen {
    width: 6em;
    height: auto;   
}

.project-container .laptop-screen {
    width: 13em;
    height: auto;   
}

.project-content p {
    margin-top: 1.5em;
    max-width: 25em;
}

.project-content a:link,
.project-content a:visited {
    background-color: #373737;
    border: none;
    border-radius: 0.7em;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    margin: 1.5em auto 0;
    transition: background-color 0.2s;
}

.project-content a:hover,
.project-content a:active {
    background-color: #111;
}

.disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

@media only screen and (max-width: 600px) {
    .project-container .laptop-screen {
        width: 40%;
        height: auto;
    }

    .project-content a {
        margin: 1em auto;
    }
} 