hr {
    height: 1px;
    border: 0;
    border-top: 5px solid #2196F3;
    margin-top: 1em;
    padding: 0;
    width: 20%;
}

.container {
    color: #373737;
    margin: 0 auto;
    max-width: 40em;
}